@font-face {
	font-family: "Hind-Light";
	src: url("../../assets/Hind-Light.woff");
	font-size: 10px;
}
.landing-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(38, 38, 34);
	background-image: url("../../assets/images/landing-image-2.png");
	background-size: 1700px;
}
