@use "../../scss/abstracts/" as *;
@font-face {
  font-family: "Hind-Light";
  src: url("../../assets/Hind-Light.woff");
  font-size: 10px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  .bg-img {
    position: absolute;
    bottom: 2px;
    z-index: -1;
    height: 190px;
    width: 100vw;
    background: $primary-background
      url(../../assets/images/landing-image-3-x2.webp) no-repeat bottom center;
  }
}

@media (max-width: 1600px) {
  .landing-page {
    margin-top: 70px;
  }
}
@media (max-width: 762px) {
  .landing-page {
    .bg-img {
      background: $primary-background
        url(../../assets/images/sm-landing-image-3-x2.webp) no-repeat bottom
        center;
    }
  }
}
