@use "scss/abstracts/" as *;

.header-main {
  margin: 0;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  .header-options {
    display: flex;
    z-index: 1;
    .option {
      position: relative;
      width: 140px;
      top: 2px;
      h4 {
        color: $ml-white;
        font-size: 20px;
        font-weight: initial;
        text-align: center;
      }
      :hover {
        color: $ml-white-hover;
      }
    }
    .auth-options {
      position: absolute;
      right: 20px;
      top: 13px;
      .MuiButton-contained {
        margin: 0 4px;
        padding: 0;

        .MuiButton-label {
          font-size: 16px;
        }
        :hover {
          background-color: $line-2 !important;
        }
        &.login {
          background-color: $line-1;
          width: 70px;
        }
        &.logout {
          background-color: $five;
          width: 85px;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .header-main {
    .header-options {
      .auth-options {
        position: absolute;
        top: 45px;
      }
    }
  }
}
