@use "../../scss/abstracts/" as *;

.header-main {
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  .header-options {
    display: flex;
    z-index: 1;
    .option {
      width: 140px;
      text-align: center;
      h4 {
        color: $ten;
        font-size: 20px;
        font-weight: initial;
        text-align: center;
      }
    }
  }
}
