.company-search-container {
	position: absolute;
	top: 130px;
	right: 23%;
	margin: 0px 20px 0px 20px;
	padding: 0px 10px 0px 10px;
	z-index: 1;
	.fa-search {
		position: relative;
		color: whitesmoke;
		left: 20px;
		bottom: -1px;
	}

	.company-input-box {
		border-radius: 5px;
		width: 8vw;
		background-color: rgb(32, 32, 32);
		border-color: rgb(71, 68, 59);
		color: whitesmoke;
		font-size: 13px;
		font-weight: bold;
		padding-left: 26px;
	}
	.company-input-box:focus {
		outline: none !important;
		border: 1px solid rgb(167, 158, 152);
	}
}
