@use "scss/abstracts" as *;

.table-cell {
  background-color: $secondary-background;
  padding: 8px;
  width: 20%;
  font-weight: bold;
  font-size: 0.8rem;
  .cell-title {
    color: $eight;
  }
  .cell-content {
    margin-left: 5px;
    color: $ml-white;
  }
}

@media (max-width: 700px) {
  .table-cell {
    font-size: 1.5vw;
  }
}

@media (max-width: 550px) {
  .table-cell {
    font-size: 0.4rem;
  }
}
