//backgrounds
$primary-background: rgb(38, 38, 34);
$secondary-background: rgb(47, 47, 42);

$border-color: rgb(76, 76, 68);

$most-yellow: rgb(226, 218, 185);
$less-yellow: rgb(199, 195, 181);

$scrollbar-thumb: rgb(167, 163, 151);
$scrollbar-track: rgb(92, 91, 83);

// rgb(87,166,255)
