@use "../../../../scss/abstracts/" as *;

.company-header {
	margin: 15px 0px 0px 0px;
	padding: 1px 10px 10px 0;
	background-color: $secondary-background;
	display: flex;
	flex-direction: column;
	.company-details {
		margin-left: 8px;
		color: $ten;
		// width: 200px;
	}
	.company-search-container {
		position: relative;
		top: 15px;
		margin-right: 32px;
		align-self: flex-end;

		.fa-search {
			position: relative;
			color: $ten;
			left: 20px;
			bottom: -1px;
		}

		.company-input-box {
			border-radius: 5px;
			width: 8vw;
			background-color: $primary-background;
			border-color: $fifteen;
			color: $ten;
			font-size: 13px;
			font-weight: bold;
			padding-left: 26px;
		}
		.company-input-box:focus {
			outline: none !important;
			border: 2px solid $sixteen;
		}
	}
}
