.chart-item {
	flex-grow: 1;
	width: 40%;
	min-width: 220px;
	height: 150px;
	padding: 5px;
	margin: 5px;
	margin-bottom: 5px;
	border-radius: 6px;
	background-color: lightgrey;
	font-size: 11px;
	// overflow: hidden;
}
