.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 48px 150px;
	.header-left {
		display: flex;
		.searchbar-container {
			position: relative;
			display: flex;
			align-items: center;
			margin-left: 64px;
			search-icon {
				position: absolute;
				left: 21px;
				top: 32px;
			}
			input.searchbar {
				background: rgba(255, 255, 255, 0.5);
				font-size: 16px;
				line-height: 46px;
				width: 400px;
				border: none;
				border-radius: 23px;
				padding: 0 20px 0 60px;
				color: white;
				&:focus {
					outline: none;
				}
			}
		}
	}
	.header-options {
		display: flex;
		align-items: center;
		.option {
			margin-left: 78px;
			h4 {
				color: #fff;
				font-size: 20px;

				font-weight: initial;
				text-align: center;
			}
			&:last-child {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				h4 {
					position: absolute;
				}
			}
		}
	}
}
