@use "../../scss/abstracts/" as *;

.left-column {
	width: 20%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	.graph {
		width: 90%;
		border-radius: 6px;
		overflow: hidden;
	}
}
