.left-column {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(253, 253, 252, 0);
	.chart {
		width: 90%;
		height: 150px;
		margin: 15px 0px 0px 3px;
		background-color: rgb(47, 47, 42);
	}
}
