.news-feeds-table {
	margin: 20px 0px 0px 3px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 0.62em;
	background-color: rgb(47, 47, 42);
	margin-top: 20px;
	border-radius: 6px;
	width: 90%;
	height: 400px;
	overflow: auto;

	.news-feed-title {
		border-bottom: 0.1em solid rgb(76, 76, 68);
		width: 95%;
		margin-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 8px;
		text-align: left;
		font-size: 1.5vw;
		h3 {
			.fa-newspaper {
				margin-right: 6px;
				margin-left: 7px;
			}

			i {
				margin-right: 8px;
			}
		}
	}
	table {
		height: 100px;
		border-collapse: separate;
		border-spacing: 4px 5px;
	}

	a {
		color: rgb(199, 195, 181);
		font-weight: bold;
	}

	.date-tag {
		color: rgb(199, 195, 181);
		font-weight: lighter;
	}
	.feedImage {
		margin-top: -5px;
		margin-left: 6px;
		width: 30px;
		height: 30px;
		border-radius: 100px;
	}
}

.news-feeds-table::-webkit-scrollbar {
	width: 8px;
	background-color: rgb(92, 91, 83);
}

.news-feeds-table::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(92, 91, 83);
}

.news-feeds-table::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background-color: rgb(167, 163, 151);
}
