body {
  margin: 0;
  font-family: 'Montserrat', 'Darker Grotesque', 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', 'Darker Grotesque', 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(194, 26, 26);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
