@use "../../../../../scss/abstracts/" as *;

.intensity-bars {
	background-color: $secondary-background;
	margin-top: 10px;
	border-radius: 6px;
	.title {
		color: $eight;
		margin-bottom: -10px;
		font-size: 1rem;
	}
}

@media (max-width: 1000px) {
	.intensity-bars {
		margin: 10px 0;
		padding: 0;
	}
}
