.main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: -80px;

	.content {
		width: 758px;
		// align-self: center;
		h1.title {
			font-family: "Hind-Light";
			font-weight: initial;
			text-align: center;
			color: rgb(226, 218, 185);
			font-size: 72px;
			margin-bottom: -5px;
		}
		p {
			font-family: "Hind-Light";
			text-align: center;
			color: whitesmoke;
			font-size: 24px;
		}
		.searchbar-container {
			position: relative;
			display: flex;
			// align-items: center;
			justify-content: center;
			width: 100%;
			margin: 20px 0;
			i.search-icon {
				position: relative;
				left: 7%;
				top: 16px;
				color: whitesmoke;
			}
			input.searchbar {
				width: 60vw;
				height: 60px;
				text-align: center;
				font-size: 24px;
				line-height: 62px;
				border: none;
				border-radius: 31px;
				padding: 0 20px 0 0px;
				color: whitesmoke;
				background-color: rgb(76, 76, 68);
				&:focus {
					outline: none;
				}
			}
		}
		.trending-container {
			padding: 0 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			p {
				margin-right: 8px;
				margin-bottom: 0;
				&.whats-trending {
					font-size: 20px;
					font-weight: normal;
					color: rgb(226, 218, 185);
				}
			}
			.MuiButton-contained {
				height: 35px;
				font-family: "Hind-Light";
				font-weight: initial;
				text-align: center;
				color: whitesmoke;
				font-size: 16px;
				background-color: rgb(102, 102, 86);
				margin: 3px;
				border-radius: 10px;
			}
			.MuiButton-root {
				text-transform: none;
			}
		}
	}
}
