.table-cell {
	border: 1px solid rgb(76, 76, 68);
	background-color: rgb(47, 47, 42);
	padding: 8px;
	width: 20%;
	font-weight: bold;
	.cell-title {
		color: rgb(194, 190, 176);
	}
	.cell-content {
		margin-left: 5px;
		color: rgb(226, 218, 185);
	}
}
